<?xml version="1.0"?>

<config>
    <modules>
        <NochexLTD_Nochex>
            <version>0.1.0</version>
        </NochexLTD_Nochex>
    </modules>
    <global>

<models>
            <nochex>
                <class>NochexLTD_Nochex_Model</class>
                <resourceModel>nochex_mysql4</resourceModel>
            </nochex>
            <nochex_mysql4>
                <class>NochexLTD_Nochex_Model_Mysql4</class>
                <entities>
                    <nochex>
                        <table>nochex</table>
                    </nochex>
                </entities>
            </nochex_mysql4>

        </models>
        <resources>
            <nochex_setup>
                <setup>
                    <module>NochexLTD_Nochex</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </nochex_setup>
            <nochex_write>
                <use>core_write</use>
            </nochex_write>
            <nochex_read>
                <use>core_read</use>
            </nochex_read>
        </resources>
        <blocks>
            <nochex>
                <class>NochexLTD_Nochex_Block</class>
            </nochex>
        </blocks>
        <helpers>
            <nochex>
                <class>NochexLTD_Nochex_Helper</class>
            </nochex>
        </helpers>
    </global>
    <frontend>
        <routers>
            <nochex>
                <use>standard</use>
                <args>
                    <module>NochexLTD_Nochex</module>
                    <frontName>nochex</frontName>
                </args>
            </nochex>
        </routers>
        <default>
            <router>nochex</router>
        </default>  
    </frontend>
    <default>
        <payment>
            <nochex>
                <active>1</active> 
				<title>Nochex</title>
				<model>nochex/nochex</model>
                <new_order_status>pending</new_order_status>
                <success_order_status>complete</success_order_status>
            </nochex>
        </payment>
    </default>
</config>